<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Shark Game - I need a better title!
		</title>
		<link rel="stylesheet" href="css/stylesheet.css"></link>
		<link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.js">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/sharks.js"></script>
	</head>
	<body>
	<div ng-app="sharks" ng-controller="control">
		<div id = "statsbar">
			<p class="stat">Inhabitants: <span>{{inhabitants}}</span></p>
			<p class="stat">Territory: <span>{{territory | number:2}}</span></p>
			<p class="stat">Housing: <span>{{housing}}</span></p>
			<p class="stat">Basalt: <span>{{basalt | number:0}}</span></p>
			<p class="stat">Seaweed: <span>{{seaweed | number:0}}</span></p>
			<p class="stat" ng-show="ironore>0">Iron Ore: <span>{{ironore | number:2}}</span></p>
			<p class="stat" ng-show="kelp>0">Kelp Wood: <span>{{kelp | number:2}}</span></p>
		</div>
		<div class="container-fluid">
			<div class="row" id= "triumvirate">
				<div class="col-sm-4">
					<div id="mayor" class = "person">
						<p class="positiontitle">Mayor:</p>
						{{mayor.name}}
						<button ng-click="promote(mayor)" ng-show="mayor.occupied===false">Promote</button>
					</div>
				</div>
				<div class="col-sm-4">
					<div id = "general" class = "person">
					<p class="positiontitle">General:</p>
						{{general.name}}
						<button ng-click="promote(general)" ng-show="general.occupied===false">Promote</button>
					</div>
				</div>
				<div class="col-sm-4">
					<div id="cleric" class = "person">
					<p class="positiontitle">High Cleric:</p>
						{{cleric.name}}
						<button ng-click="promote(cleric)" ng-show="cleric.occupied===false">Promote</button>
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-4">
					<div id = "civil" ng-show=mayor.occupied>
						<div id="builder" class = "person">
							<p class="positiontitle">Head Builder:</p>
							{{builder.name}}
							<p>{{builders.number}} subordinates</p>
							<button ng-click="promote(builder)" ng-show="builder.occupied===false">Promote</button>
							<button ng-click="subordinates(builders)" ng-show="builder.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(builders)" ng-show="builders.number>0 && builder.occupied">Remove a subordinate</button>
						</div>
						<div id="collector" class = "person">
							<p class="positiontitle">Head Collector:</p>
							{{collector.name}}
							<p>{{collectors.number}} subordinates</p>
							<button ng-click="promote(collector)" ng-show="collector.occupied===false">Promote</button>
							<button ng-click="subordinates(collectors)" ng-show="collector.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(collectors)" ng-show="collectors.number>0 && collector.occupied">Remove a subordinate</button>
						</div>
						<div id="miner" class = "person">
							<p class="positiontitle">Mining Foreman:</p>
							{{miner.name}}
							<p>{{miners.number}} subordinates</p>
							<button ng-click="promote(miner)" ng-show="miner.occupied===false">Promote</button>
							<button ng-click="subordinates(miners)" ng-show="miner.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(miners)" ng-show="miners.number>0 && miner.occupied">Remove a subordinate</button>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div id = "military" ng-show=general.occupied>
						<div id="raider" class = "person">
							<p class="positiontitle">Raid Leader:</p>
							{{raider.name}}
							<p>{{raiders.number}} subordinates</p>
							<button ng-click="promote(raider)" ng-show="raider.occupied===false">Promote</button>
							<button ng-click="subordinates(raiders)" ng-show="raider.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(raiders)" ng-show="raiders.number>0 && raider.occupied">Remove a subordinate</button>
						</div>
						<div id="smith" class = "person">
							<p class="positiontitle">Weaponsmith:</p>
							{{smith.name}}
							<p>{{smiths.number}} subordinates</p>
							<button ng-click="promote(smith)" ng-show="smith.occupied===false">Promote</button>
							<button ng-click="subordinates(smiths)" ng-show="smith.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(smiths)" ng-show="smiths.number>0 && smith.occupied">Remove a subordinate</button>
						</div>
						<div id="guard" class = "person">
							<p class="positiontitle">Guard Captain:</p>
							{{guard.name}}
							<p>{{guards.number}} subordinates</p>
							<button ng-click="promote(guard)" ng-show="guard.occupied===false">Promote</button>
							<button ng-click="subordinates(guards)" ng-show="guard.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(guards)" ng-show="guards.number>0 && guard.occupied">Remove a subordinate</button>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div id = "religious" ng-show=cleric.occupied>
						<div id="spawn" class = "person">
							<p class="positiontitle">Spawning Overseer:</p>
							{{spawn.name}}
							<p>{{spawns.number}} subordinates</p>
							<button ng-click="promote(spawn)" ng-show="spawn.occupied===false">Promote</button>
							<button ng-click="subordinates(spawns)" ng-show="spawn.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(spawns)" ng-show="spawns.number>0 && spawn.occupied">Remove a subordinate</button>
						</div>
						<div id="tamer" class = "person">
							<p class="positiontitle">Tamer:</p>
							{{tamer.name}}
							<p>{{tamers.number}} subordinates</p>
							<button ng-click="promote(tamer)" ng-show="tamer.occupied===false">Promote</button>
							<button ng-click="subordinates(tamers)" ng-show="tamer.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(tamers)" ng-show="tamers.number>0 && tamer.occupied">Remove a subordinate</button>
						</div>
						<div id="monk" class = "person">
							<p class="positiontitle">Abbot:</p>
							{{monk.name}}
							<p>{{monks.number}} subordinates</p>
							<button ng-click="promote(monk)" ng-show="monk.occupied===false">Promote</button>
							<button ng-click="subordinates(monks)" ng-show="monk.occupied  && inhabitants>0">Assign a subordinate</button>
							<button ng-click="removeSubordinates(monks)" ng-show="monks.number>0 && monk.occupied">Remove a subordinate</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="messagebuffer">
		</div>
		<button ng-click="newday()">End The Day ({{currentseconds}})</button>
	</div>
	</body>
</html>